#topic-title .edit-topic-title > .mini-tag-chooser {
  display: none;
}

.edit-topic-skill-fields {
  display: flex;
  gap: 1%;
  margin-bottom: 1rem;

  .skill-field-container {
    flex: 1;
    width: 190px;

    .select-kit.multi-select {
      width: 100%;
    }

    .mini-tag-chooser {
      margin-left: 0;
      margin-bottom: 0;
    }

    .desc {
      color: var(--primary-medium);
      padding-top: 3px;
      font-size: var(--font-down-1);
      line-height: var(--line-height-large);
    }
  }
}

#topic-title #edit-title,
#topic-title .category-chooser,
#topic-title .edit-controls {
  width: 300px;
  flex: 100%;
}

#topic-title .edit-topic-title .category-chooser {
  flex: unset;
  margin: 0 0 9px 9px;
}

#topic-title .edit-topic-title {
  max-width: 765px;
}
