.composer-skill-fields {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;

  .select-kit.multi-select {
    width: 100%;

    .name {
      background: var(--stemaway-primary-300);
      color: var(--stemaway-primary-400);
      font-weight: bold;
      border-radius: 4px;
      flex: unset;
      padding: 0.25em 0.5em;
    }
  }
}

#topic-title .edit-topic-title > .mini-tag-chooser {
  display: none;
}

.edit-topic-skill-fields {
  display: flex;
  gap: 1%;
  margin-bottom: 1rem;

  .skill-field-container {
    flex: 1;
    width: 190px;

    .select-kit.multi-select {
      width: 100%;
    }

    .mini-tag-chooser {
      margin-left: 0;
      margin-bottom: 0;
    }

    .desc {
      color: var(--primary-medium);
      padding-top: 3px;
      font-size: var(--font-down-1);
      line-height: var(--line-height-large);
    }
  }
}

#topic-title #edit-title,
#topic-title .category-chooser,
#topic-title .edit-controls {
  width: 300px;
  flex: 100%;
}

#topic-title .edit-topic-title .category-chooser {
  flex: unset;
  margin: 0 0 9px 9px;
}

#topic-title .edit-topic-title {
  max-width: 765px;
}

// TODO PARTIALIZE::after

header.skills-page-header {
  h1 {
    color: var(--stemaway-secondary-500);
  }

  p {
    color: var(--stemaway-secondary-400);
  }
}

.skills-page-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .skills-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-icon {
      background: none;
      .d-icon {
        color: var(--stemaway-secondary-300);
      }

      &:hover {
        .d-icon {
          color: var(--stemaway-secondary-500);
        }
      }
    }
  }
  .skills-card-pathway {
    background: white;
    box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
  }

  .skills-card-skills-container {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background: var(--stemaway-secondary-150);
  }

  .skills-card-sub-skills {
    background: transparent;
    box-shadow: none;
    margin-left: 0;
    padding: 0;
    width: 100%;

    .child-skills {
      background: var(--stemaway-secondary-200);
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;

      .skills-card-sub-skills {
        flex: 0;
        margin: 0;
      }
    }
  }
}
